# Terraform
*.tfstate.*
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
.terraform/
!terraform.tfvars.example

# Ansible
inventory.ini

# Keys & Secrets (just in case)
*.pem
id_rsa
id_ed25519
.env
provider-falls-ea0c76990c0c.json
service_account.json
token_drive.json
oauth_client.json